SANDBOX_PUID=1000
SANDBOX_PGID=1000
SANDBOX_TZ=Europe/Berlin

SANDBOX_PASSWORD=your_secure_password_here
SANDBOX_SUDO_PASSWORD=root
SANDBOX_SUDO_ACCESS=true

SANDBOX_DEFAULT_WORKSPACE=/config/workspace
# Full path on your host machine to store settings/extensions
SANDBOX_CONFIG_PATH=C:/Path/To/Your/Config/Folder
SANDBOX_PORT=8443